<div>
  <h1>{{title}}</h1>

  <p>Do you really want to delete this copy?</p>
  <form action="" method="post">
    <div class="form-group"><input type="hidden" id="bookinstanceid" class="form-control" name="bookinstanceid" required="true"
        value={{bookinstance_id}}></div>
    <button type="submit">Delete</button>
  </form>

</div>